/* General Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
  color: #1d1d1f;
  line-height: 1.6;
}

/* Container */
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 22px;
}

/* Header */
header {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  backdrop-filter: saturate(180%) blur(10px);
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 5px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 0.5em;
}

header h3 {
  font-size: 1.5em;
  margin-top: 0em;
}

/* Hero Section */
.hero {
  text-align: left;
  padding: 100px 0;
  background: linear-gradient(180deg, #fbfbfd 0%, #f5f5f7 100%);
  margin-bottom: 60px;
}

.hero-content {
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap under the image */
  align-items: flex-start;
  gap: 20px;
}

.hero-text {
  flex: 1 1 60%; /* Allows the text to take up to 60% of the width */
  text-align: justify;
}

.hero-text h2 {
  font-size: 1.8em;
  text-align: justify;
}

.hero-text p, .hero-text ul {
  font-size: 1em;
  text-align: justify;
}

.hero-text a {
  font-size: 1em;
  text-decoration: none; 
  text-align: justify;
}

/* Adjusting the Skills section to take up the full width */
.hero-text ul {
  padding-left: 20px;
  width: 100%; /* Makes the skills section take up the full row */
}

.hero-text ul li {
  margin-bottom: 10px; /* Adds some space between list items for better readability */
}

.hero-image {
  flex: 0 0 300px;
  margin-top: -60px; /* Adjusts the image to move it up if needed */
}

.hero-image img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Projects Section */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ensures responsive grid layout */
  gap: 30px; /* Space between project boxes */
  margin-bottom: 60px;
}

.project {
  background-color: #ffffff; /* White background for the project boxes */
  border-radius: 18px; /* Rounded corners for a modern look */
  overflow: hidden;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08); /* Soft shadow for depth */
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1); /* Smooth transition on hover */
}

.project:hover {
  transform: scale(1.02); /* Slight scale-up on hover */
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16); /* Stronger shadow on hover */
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.project-info {
  padding: 20px; /* Padding around the project info */
  text-align: justify; /* Justify text for neat alignment */
  color: #333333; /* Dark grey color for text */
}

.project-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  color: #1d1d1f; /* Dark color for headings */
}

.project-info p {
  font-size: 1em;
  margin: 0;
  color: #4a4a4a; /* Medium grey color for better readability */
}

/* Button Style */
.project-info a {
  text-decoration: none;
}

.project-info a button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 600;
  color: #ffffff; /* White text color */
  background-color: #1d1d1f; /* Dark background for button */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.project-info a button:hover {
  background-color: #333333; /* Slightly lighter background on hover */
}

/* About and Contact Sections */
.about,
.contact-info {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-info {
  margin-top: 30px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-info p {
  margin-left: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-info ul li i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #1d1d1f;
}

.contact-info ul li a {
  color: #1d1d1f;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.contact-info ul li a:hover {
  border-bottom: 1px solid #1d1d1f;
}

/* Language Switcher Styles */
.language-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
}

.language-switcher button {
  background-color: #f2f2f2;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-switcher button:hover {
  background-color: #e0e0e0;
}

.language-switcher button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  color: #86868b;
}